/.history
login.py
Dynamics/Old_integrator.ipynb
Dynamics/Data/Ilic_start_old.pkl
Dynamics/Data/LeftData.pkl
Dynamics/Data/RightData.pkl
Dynamics/Dynamics_integrator_check.ipynb
Dynamics/Old_integrator.py
Dynamics/Dynamics_integrator_check.py
Dynamics/Integrator_comparison.ipynb
Dynamics/Lookup_tables_Ilic_start.py
__pycache__/login.cpython-311.pyc
/Dynamics/Data
Dynamics/Dynamics_results_eigenvalue_test.ipynb
Dynamics/Jacobian_terms_test.ipynb
Optimisation/Data/FOM_3rd_optimisation_maxfev128000.pkl
__pycache__/twobox.cpython-311.pyc
Dynamics/__pycache__/SR_functions.cpython-311.pyc
__pycache__/twobox.cpython-311.pyc
Dynamics/__pycache__/SR_functions.cpython-311.pyc
Grating_Explore/Wrong wavelength/Ilic_Stability_Diagram_klambda1000_by_kwidth20.pkl
Grating_Explore/Wrong wavelength/Ilic_Stability_Diagram_klambda2000_by_kwidth1000.pkl
Grating_Explore/Wrong wavelength/Ilic_Stability_Diagram_klambda2000_by_kwidth10000.pkl
